{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up Panel</title>

    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'img/cerdo.png' %}"/>
</head>

<body>
<div class="container-fluid ">

    <div class=" no-pdding login-box">
        <div class="row no-margin w-100 bklmj">
            <div class="col-lg-6 col-md-6 log-det">

                <h2>Sign up!</h2>


                <div class="row no-margin past">
                    <p>Dont Have an Account? <span>Create your Account</span></p>
                </div>

                <form method="post" class="card card-header">

                    <div class="text-box-cont">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <h6>{{ form.errors }}</h6>
                        </div>
                        {% endif %}

                        {{ form }}
                        <button class="btn btn-primary btn-flat"><i class="fas fa-save"></i> Sign Up</button>
                </form>

            </div>


        </div>
        <div class="col-lg-6 col-md-6 box-de">
            <div class="ditk-inf">
                <h2 class="w-100">Welcome Back </h2>

                <a type="button" class="btn btn-outline-light" href="{% url 'login' %}">Sign In</a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="policy">
            <h6>Data Privacy Policy</h6>
            <br>
<textarea name="comentarios" class="TheText" rows="7" cols="25" readonly>Privacy Policy and Terms of Use

See the Resolution "Whereby the Information Security and Privacy Policy is adopted...".

Resolution 2256 of 2020
Ministry of ICT Personal Data Treatment Policies

See the Resolution "Whereby the Policy for the Treatment of Personal Data of the ICT Ministry is updated...".

Resolution 924 of 2020
Terms of Use

Dear User: the main function of the website of the -MINISTRY OF INFORMATION AND COMMUNICATIONS TECHNOLOGIES OF THE REPUBLIC OF COLOMBIA- (hereinafter the Website) is to provide information and services as well as to disseminate and promote standards and guidelines of the -MINISTRY OF INFORMATION AND COMMUNICATIONS TECHNOLOGIES OF THE REPUBLIC OF COLOMBIA- (hereinafter MINTIC).

Through the Web Site, MINTIC publishes, among others, the topics and activities related to its mission, vision, objectives and functions. Additionally, through this medium the entity provides information on institutional policies, plans, programs and projects, procedures, services, management indicators, plans and programs, publications, standards, announcements, budget and contracting information, recommended pages and, in general, information related to the government and the entity or the programs developed by the entities, as the case may be. Additionally, it allows the option of requesting online procedures and offers interaction tools for the users of the site.

MINTIC does not pursue any profit, gain or commercial interest with the contents or links published in its Website and in the web pages of other agencies or entities attached and linked to it, which are accessed through the Website.

MINTIC requests the User of this page to read these conditions of use (hereinafter the Conditions of Use) and the privacy policy of this Website carefully and judiciously before starting its exploration or use. If the User does not agree with these Terms of Use or with any provision of the Privacy Policy, we suggest that he/she refrain from accessing or browsing our entity's Website.

1. Definitions

To facilitate the understanding of these Terms of Use of the Web Site, it is necessary to clarify the meaning of the following words:

a. Contents. They imply all forms of information or data that are disclosed on the Website, among which are: texts, images, photos, logos, designs, animations.

b. Intellectual Property Rights. includes trademarks, trade names, logos, emblems, slogans, domain names, business secrets, know-how, industrial designs, patents, utility models and copyrights.

c. Forum. An automated message service, often moderated by an owner, through which subscribers receive messages left by other subscribers on a given topic. Messages are sent by e-mail.

d. Internet. Communication tool with tens of thousands of computer networks linked by the TCP/IP protocol. Multiple services such as e-mail, www, etc. can be used over this network.

e. Web page. Hypertext or hypermedia output provided by a www browser after obtaining the requested information. Its content can range from a short text to a voluminous set of texts, static or moving graphics, sound, etc.

f. Publish. Making a document visible from the Web Site.

g. Services. These are the online aids that MINTIC currently provides or intends to provide in the future to users, through this web page, such as the publication of news or activities related to institutional management; online procedures; consultations; forums and complaints and claims mailbox, among others.

h. User. It is any person who enters the Website. He/she can register in case he/she needs to carry out a procedure or receive a service from the entity; or to file a complaint through the Complaints and Claims mailbox, created for this purpose.

i. Link. Hypertext pointers that are used to jump from one piece of information to another, or from one web server to another, when surfing the Internet.

2. Acceptance of Terms
It is presumed that when a user accesses the Website, he/she does so under his/her full responsibility and that, therefore, he/she fully and unreservedly accepts the content of the terms and conditions of use of the Website. MINTIC reserves, in all respects, the right to update and modify at any time and in any way, unilaterally and without prior notice, these terms of use, privacy policies and the contents of the page.

3. Contents of the Web Site
The purpose of the Web site is to provide the user with all kinds of information related to the management of the company.



The Website may contain links to other sites of interest or to documents located in other web pages owned by entities, persons or organizations other than MINTIC. Only by the fact that the user accesses another website or an individual document located on another page, through a link or a link established on the Website, the user shall be subject to the terms of use and privacy policy of the website to which the link is sent.

The establishment of a link to the website of another company, entity or program does not necessarily imply the existence of a relationship between MINTIC and the owner of the linked website or web page, nor the acceptance or approval by MINTIC of its contents or services. Those who intend to establish a link shall ensure that the link only allows access to the Web home page.

Likewise, MINTIC shall not be held responsible for information outside this Website and not directly managed by the Website administrator. The purpose of the links appearing on the Website is to inform the User about the existence of other sources likely to expand the contents offered on the Website, or which are related to them. MINTIC neither guarantees nor is responsible for the operation or accessibility of the linked web pages; nor does it suggest, invite or recommend a visit to them, nor shall it be responsible for the results obtained. Therefore, access to them through the Website does not imply that MINTIC recommends or approves their contents.

On the other hand, the provision of the Website service is free and free of charge for users.

The Website contains articles or works of a literary and scientific nature (hereinafter, Information) prepared by MINTIC or by third parties, for informative and informative purposes. MINTIC may modify or withdraw the Information at any time and without prior notice. The opinions expressed in the comments made by Users do not necessarily reflect the views of MINTIC.

The use of the Website that in any way overloads, damages or renders useless the networks, servers and other computer equipment or computer products and applications of MINTIC or third parties is expressly prohibited.

MINTIC is not responsible for the uninterrupted or error-free service of the Website. MINTIC makes its best efforts to ensure that the content provided is of optimum quality, and in this sense the User agrees to use the service.

The User may not use the contents and, in particular, information of any other kind obtained through MINTIC or the services, to issue advertising.

The User of the Website shall not alter, block or perform any other act that prevents the display of or access to any content, information or services of the Website or that are incorporated in the linked web pages.

3.3. Responsibility for the information contained therein
Due to the fact that at present the technical means do not allow guaranteeing the absolute lack of interference of the action of third parties in the Website, MINTIC in no way guarantees the accuracy and/or veracity of all or part of the information contained in its page, nor its updating, nor that said information has been altered or modified in whole or in part, after having been published in the page, nor any other aspect or characteristic of what has been published in the site or in the links, respectively.

MINTIC neither controls nor guarantees the absence of viruses or other elements in the contents that may cause alterations in your computer system (software and hardware) or in the electronic documents and files stored in your computer system.

Consequently, MINTIC shall not be held liable for any damage caused by virtue of any alteration made to the materials or download files supplied directly by the entity.

The User shall not send or transmit on or to the Website, to other users or to any other person, any information with obscene, defamatory, libelous, slanderous or discriminatory content against any person, or against MINTIC, its subsidiaries or affiliated entities, its officers or against those responsible for the administration of the Website.

In no case shall be accepted contents that may be considered offensive, sexist, racist, discriminatory, obscene, inasmuch as offensive contents infringe fundamental rights of individuals.


4. Intellectual Property
The intellectual property on the contents of the Website is either part of MINTIC's patrimony or, as the case may be, its ownership belongs to third parties who authorized the use thereof in the Website or it is public information governed by the Colombian laws on access to public information.

The texts and graphic elements that make up the Website, as well as their presentation and assembly, are either the exclusive property of MINTIC or MINTIC holds the necessary exploitation rights. Notwithstanding the foregoing, the trade names, trademarks or distinctive signs that appear or to which reference is made in the Website belong to their respective owners and are protected by the legislation in force in this regard.

Any use, transformation or exploitation of the contents included in the Website for commercial or promotional purposes is forbidden except with prior authorization from MINTIC; in any case, any use contrary to the law and of the Website for personal and non-commercial use is forbidden, provided that express mention is made of the ownership of the author of the content.

All logos and trademarks on the Website are the property of MINTIC or their use has been authorized by their owners to MINTIC, being, in any case, the owners responsible for any possible controversy that may arise with respect to them. The owners of said trademarks and logos reserve the right to file the legal actions they deem appropriate to enforce their rights both in Colombia and abroad.

The User accepts that the contents generated and uploaded by him/her shall be the property of MINTIC, with the User retaining the moral rights over said contents.

In case of claims that may be filed by the Users or third parties in relation to possible breaches of the intellectual property rights over any of the contents of the Website, they shall be addressed to the following e-mail address: usoweb@mintic.gov.co. Once notified to this e-mail address, such content shall be automatically removed from the Website until whoever has published the disputed content has solved the conflict with whoever sends the claim.

5. Privacy

Personal information is understood to be that provided by the User for registration, which includes data such as name, identification, age, gender, address, e-mail and telephone number.

The storage and use of personal information is governed by the Privacy Policy of the Website.

6. Applicable Law and Jurisdiction

a. These conditions of use of the Web Site shall be governed by the laws of the Republic of Colombia.

b. If any provision of these conditions loses validity or binding force, for any reason, all other provisions, retain their binding force, binding character and generate all its effects.

c. For any legal or judicial effect, the place of these conditions is the city of Bogotá, Republic of Colombia, and any controversy arising from their interpretation or application shall be submitted to the judges of the Republic of Colombia.

7. Participation in the Website

7.1 By entering the Website and in order to guarantee the good and proper use thereof, the user acknowledges that MINTIC reserves the right to:

- Deny registration to any person, at any time and for any reason.

- Include or not in the Website the material received from users at its discretion. In the case of including it, it may keep said material on the Website for the period of time it deems appropriate or modify it.

- To remove, without being obligatory, contents that in MINTIC's opinion are illegal, offensive, defamatory or that in any other way violate these Terms of Use. Likewise, contents that violate intellectual property rights may be removed, at the latter's request.

- Use personal information and/or content provided by Users in accordance with the Website Terms of Use and Privacy Policy.

7.2 User Registration and Participation.

By entering the Website and to ensure the good and proper use of the same, the User must comply with the following:

- To be responsible for any activity carried out under his/her registration.

- Be responsible for the security of your password.

- Not to abuse, harass, threaten or intimidate other users of the Website either through chats, forums, blogs or any other space for participation.

- Not to use the Website as a means to develop illegal or unauthorized activities in Colombia, as well as in any other country.

- To be solely responsible for your conduct and for the content of texts, graphics, photos, videos or any other type of information you use or include in the Website.

- Refrain from sending unwanted email (SPAM).



</textarea>

</select>
<p><input type="checkbox" name="casilla"> Accept</p>


        </div>
        </div>
        
    </div>
</div>
</div>

</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>


</html>
