{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up Panel</title>

    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'img/cerdo.png' %}"/>
</head>

<body>
<div class="container-fluid ">

    <div class=" no-pdding login-box">
        <div class="row no-margin w-100 bklmj">
            <div class="col-lg-6 col-md-6 log-det">

                <h2>Sign up!</h2>


                <div class="row no-margin past">
                    <p>Dont Have an Account? <span>Create your Account</span></p>
                </div>

                <form method="post" class="card card-header">

                    <div class="text-box-cont">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <h6>{{ form.errors }}</h6>
                        </div>
                        {% endif %}

                        {{ form }}
                        <button class="btn btn-primary btn-flat"><i class="fas fa-save"></i> Sign Up</button>
                </form>

            </div>


        </div>
        <div class="col-lg-6 col-md-6 box-de">
            <div class="ditk-inf">
                <h2 class="w-100">Welcome Back </h2>

                <a type="button" class="btn btn-outline-light" href="{% url 'login' %}">Sign In</a>
            </div>
        </div>
    </div>
</div>
</div>

</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>


</html>
